{% extends "template_4.html" %}
{% load feeds %}
{% load tree_tags %}
{% load cache %}        


    {% block extra_onready %}
        //tm.init_map('index_map');    
        //todo less js on the homepage (eg no gmaps stuff?)
        tm.initial_location_string = "Seattle, WA";
        tm.initial_species_string = "All trees";

    {% endblock %}

        {% block top_left_panel %}
           <div class='hero-unit' id='get_started'>
	     <h2>Creating a map of our urban forest one tree at a time...</h2>
	     <p>You can: Find a tree, add a tree, edit a tree</p>
             <a href="{% url treemap.views.result_map %}" class='btn btn-primary btn-large'>Get Started</a>
	   </div>
        {% endblock %}

        {% block top_right_panel %}
        {% endblock %}
        
        {% block bottom_left_panel %}
        {% endblock bottom_left_panel %}

        {% block bottom_right_panel %}
        {% endblock %}


        {% block sub_footer %}
          
<!-- start: subfooter -->

        <section class="row">
            <div class="span6">
              <h2><a href="{{ SITE_ROOT }}about/#about">About the project</a></h2>
                
              <p>The Urban Forest Map is a collaboration of government, nonprofits, businesses and you to build an inventory of San Francisco's urban forest. <a href="{{ SITE_ROOT }}about/#about" class="more">More&nbsp;&raquo;</a></p>
	      
              <h2><a href="{{ SITE_ROOT }}about/#why">Why</a></h2>

              <p>The urban forest needs our help to survive and grow. Understanding what is out there is one of the first steps to planning for the future. <a href="{{ SITE_ROOT }}about/#why" class="more">More&nbsp;&raquo;</a></p>            
            </div>
            
            <div class="span6">
              <h2><a href="{{ SITE_ROOT }}resources/#why">Your role</a></h2>
                
              <p>As a citizen forester, you can get involved by searching for trees, verifying records, and by adding the trees in your neighborhood! <a href="{{ SITE_ROOT }}resources/#why" class="more">More&nbsp;&raquo;</a><br /></p>
                
              <h2><a href="{{ SITE_ROOT }}faq/">FAQs</a></h2>
	      <ul>
		<li><a href="{{ SITE_ROOT }}resources/#species">What if I don't know the species?</a></li>
		<li><a href="{{ SITE_ROOT }}resources/#measuretrunk">How do I measure the trunk diameter?</a></li>
		<li><a href="{{ SITE_ROOT }}resources/#ecoservices">What are the ecosystem services?</a></li>
		<li><a href="{{ SITE_ROOT }}resources/#faqs" class="more">See all FAQs&nbsp;&raquo;</a></li>
	      </ul>
            </div>
	</section>

{% comment %}    
<!-- end: subfooter -->
{% endcomment %}

        {% endblock %}
