<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Canopy Connections{% endblock %}</title>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
      var tm_static = "{{ SITE_ROOT }}";
      var tm_urls = {
      geo_url: '{{ GEOSERVER_URL }}',
      tc_url : '{{ TILECACHE_URL }}',
      tc_layer_name: '{{ TILECACHE_LAYER }}',
      attribution: '{{ COPYRIGHT }}'
      };
    </script>
        
        {% block tophead %}
        {% endblock %}

    <script src="http://www.google.com/jsapi?key=ABQIAAAAAvmhbKBo_tkJTDMmYNqoUxSTG3jLdssCAhrLeFgMLAd1GPj2dRTDj1VVz1VRMgSj8VJgvyLP_DDwkQ"
        type="text/javascript"></script>
    <script type="text/javascript"> 

    //<![CDATA[
        google.load("jquery", "1.7");
        google.load("jqueryui", "1.8");
    //]]>
    </script>

        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.query-2.1.7.js"></script> 
        <script type="text/javascript" src="{{ STATIC_URL }}js/treemap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.address-1.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.combobox.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" type="text/css"/>                
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css"/>                

        {% block js_ready %}
        <script type="text/javascript">
	  tm.show_all_search = '{{ SHOW_ALL_SEARCH }}' === 'True';
          jQuery().ready(tm.baseTemplatePageLoad);
        </script>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

</head>

<body {% block body_load %}{% endblock %} class="{%block body_class%}base_body{%endblock %}">
  <div class='container'>
        
<!-- start: header -->
    	<header class='row' style='margin:20px 0'>
            <h1 class="logo"><a href="{{ SITE_ROOT }}">Canopy Connections</a></h1>
	    <p class="pull-right">
            {% if user.is_authenticated %}

            Hello, <b><a href="{% url profiles.views.profile_detail user.username %}/">{{user.username|escape}}!</a></b> <span id="logout">|  <a href="{{ SITE_ROOT }}accounts/logout/?next={{ SITE_ROOT }}" id="logout">Logout</a> <a href="{% url treemap.views.tree_add %}" class="btn">Add a tree</a></span> <br/>{{user.reputation.reputation}} rep 
            {% else %}
            <a href="{{ SITE_ROOT }}accounts/login/">Login</a> or <a href="{{ SITE_ROOT }}accounts/register/">Sign up</a> <a href="{% url treemap.views.tree_add %}" class="btn btn-primary">Add a tree</a>
            {% endif %}
	    </p>
        </header>
        
<!-- end: header -->

<!-- start: search box -->
        
        <section >
          <p class='row'>
            <span class='span5 search_label'>Search for species</span>
            <span class='span7 search_label'>Location</span>
          </p>
	  <div class='row'>
          <form method="get" action="{% url treemap.views.result_map %}" name="address" class="form-horizontal  address" id="search_form">
	    <span class="span4">
	    <select id="species_search_combo"></select>
	    </span>

            <span class="search_joiner span1"> near </span>
	    <span class="span4">
	      <select id="neighborhood_search_combo"></select>
	    </span>
	      
            <span class='span3' id="searchButton"><button class='btn btn-primary pull-right' type='submit' id="location_go">Search Seattle</button></span>
          </form>
          </div>
          <p class="row search_suggest">
            <span id="searchSpeciesSuggest" class='span5'>Examples: 
              <a onclick='$("#species_search_input").val("Monterey Pine"); $("#species_search_id").val("28186"); $("#species_search_id").change();  return false' href="#">Monterey Pine</a> 
              or <a onclick='$("#species_search_input").val("Cupressus macrocarpa"); $("#species_search_id").val("10672"); $("#species_search_id").change(); return false' href="#">Cupressus macrocarpa</a>
                    
            </span>
                    
            <span id="searchLocationSuggest" class='span4'>Examples: 
              <a onclick='$("#location_search_input").val("8050 35th Ave NE"); $("#location_search_input").change(); return false;' href="#">8050 35th Ave NE</a>, 
              <a onclick='$("#location_search_input").val("Wedgwood"); $("#location_search_input").change(); return false;' href="#">Wedgwood</a>,
              <a onclick='$("#location_search_input").val("98115"); $("#location_search_input").change(); return false;' href="#">98115</a>
            </span>

            <span class='pull-right' id="searchFilter"><a href="#" id="advanced_filters"  data-toggle="collapse" data-target="#advanced_search"><em>Show advanced filters</em> <i class='icon-chevron-right'></i></a> </span>
          </p>

           <div id="searchSpeciesList" class="ac_results" style="">
	      <h2>Species</h2><a class="floatRight" href="http://www.urbantreekey.org/key/What-kind-of-leaves-does-the-tree-have/" target="_blank">View Tree Key for More Detail</a>
	   </div>
	   <div id="searchNBList" class="ac_results" style=""><h2>Neighborhoods</h2>
	   </div>
	</section>

        <section class="filter_box" id="advanced_search" > 
	  <div class="row">
            <div class="span4">
	      <div class="slider_wrapper">
		<div class="title">
                  <strong>Diameter</strong> 
                  <span id="diameter">0 inches - 50 inches</span>
		</div>
		<div id="diameter_slider"></div>

              <div class="title"> 
                <strong>Height</strong> 
                <span id="height">0 feet - 200 feet</span>
              </div> 
              <div id="height_slider"></div>

              <div class="title"> 
                <strong>Plant Date</strong> 
                <span id="planted">1970 - 2012</span>
              </div> 
              <div id="planted_slider"></div>

              <div class="title"> 
                <strong>Last Tree Update</strong> 
                <span id="updated">0 - 365</span>
              </div> 
              <div id="updated_slider"></div>

              <div class="title"> 
                <strong>Plot Size</strong> 
                <span id="plot_size">0 feet - 15+ feet</span> 
              </div> 
              <div id="plot_slider"></div>
              </div>
            </div>
            <form id="options_form" action="#" class="options"> 
              <div class="characteristics span2"> 
		<fieldset>
		  <legend>Characteristics</legend>
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="flowering" /> 
                      <label for="flowering">Flowering</label>
		    </li>
		    <li>
                      <input type="checkbox" id="color" /> 
                      <label for="color">Fall color</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="edible" /> 
                      <label for="edible">Edible (fruits/nuts)</label>
		    </li>
		    <li>
                      <input type="checkbox" id="native" /> 
                      <label for="native">Native to region</label>
		    </li>
		  </ul> 
		</fieldset>

		<fieldset>
                  <legend>Powerlines</legend> 
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="yes" /> 
                      <label for="pl_yes">Yes</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="no" /> 
                      <label for="pl_no">No</label> 
		    </li>
		  </ul>
		</fieldset>

		<fieldset>
                  <legend>Photos</legend> 
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="photos" /> 
                      <label for="photos" class='checkbox'>Present </label> 
		    </li>
		  </ul>
		</fieldset>

              </div> 
              <div class="project_trees span2"> 
		<fieldset>
                  <legend>Project trees</legend> 
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="project1" /> 
                      <label for="project1">San Francisco Landmark</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="project2" /> 
                      <label for="project2">San Francisco Carbon Fund</label>
		    </li>
 		    <li>
                      <input type="checkbox" id="project3" /> 
                      <label for="project3">Fruit Gleaning Project</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="project4" /> 
                      <label for="project4">Historic Tree</label>
		    </li>
		  </ul> 
		</fieldset>

		<fieldset>
                  <legend>Condition</legend> 
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="excellent" /> 
                      <label for="excellent">Excellent</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="very_good" /> 
                      <label for="very_good">Very good</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="good" /> 
                      <label for="good">Good</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="fair" /> 
                      <label for="fair">Fair</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="poor" /> 
                      <label for="poor">Poor</label> 
		    </li>
		    <li>
                    <input type="checkbox" id="critical" /> 
                    <label for="critical">Critical</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="dead" /> 
                      <label for="dead">Dead</label> 
		    </li>
		  </ul>
		</fieldset>

              </div> 
              <div class="plot_type span2"> 
		<fieldset>
                  <legend>Sidewalk Damage</legend> 
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="minor" /> 
                      <label for="less" >Minor or no damage</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="raised" /> 
                      <label for="more" >Raised more than 3/4 inch</label>
		    </li> 
		  </ul>
		</fieldset>

		<fieldset>
                  <legend>Plot Type</legend> 
		  <ul class='checkbox'>
		    <li>
                      <input type="checkbox" id="island" /> 
                      <label for="island">Island </label> 
		    </li>
		    <li>
                      <input type="checkbox" id="median" /> 
                      <label for="median">Median </label> 
		    </li>
		    <li>
			<input type="checkbox" id="open" /> 
			<label for="open">Open/Unrestricted Area </label> 
		    </li>
		    <li>
                      <input type="checkbox" id="planter" /> 
                      <label for="planter">Raised Planter</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="tree_lawn" /> 
                      <label for="tree_lawn">Tree Lawn/Planting Strip</label>
		    </li>
		    <li>
                      <input type="checkbox" id="well_or_pit" /> 
                      <label for="well_or_pit">Tree Pit</label> 
		    </li>
		    <li>
                      <input type="checkbox" id="other" /> 
                      <label for="other">Other</label> 
		    </li>
		  </ul>
		</fieldset>
              </div> 
              <div class="outstanding span2"> 
		<fieldset>
                  <legend>Missing Data</legend> 
		  <ul class='checkbox'>
		    <li>
		      <input type="checkbox" id="missing_species" /> 
                      <label for="missing">Species</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_diameter" /> 
                      <label for="diameter">Trunk diameter</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_height" /> 
                      <label for="missing_height">Tree height</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_plot_size" /> 
                      <label for="missing_plot_size">Plot size</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_plot_type" /> 
                      <label for="missing_plot_type">Plot type</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_sidewalk" /> 
                      <label for="missing_sidewalk" >Sidewalk damage</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_powerlines" /> 
                      <label for="missing_powerlines">Powerlines</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_condition" /> 
                      <label for="missing_condition">Condition</label> 
		    </li>
		    <li>
		      <input type="checkbox" id="missing_photos" /> 
                      <label for="missing_photos" class='checkbox'>Photos</label> 
		    </li>
		</ul>
		</fieldset>
		
                <div class="alert alert-info">
		  <strong>Note:</strong> Missing data searches take priority
		</div>
		
              </div> 
            </form> 
	  </div>
          <div class="row">
	    <div class="steward">
	    <span class="span3">
              <label for="steward">Tree Steward</label><input id="steward" />
	    </span>
	    <span class="span3">
              <label for="owner">Tree Entered By</label><input id="owner" />
	    </span>
	    <span class="span3">
              <label for="updated_by">Last Updated By</label><input id="updated_by" />
	    </span>
	    <span class="span3">
              <label for="funding">Sponsor</label><input id="funding" />
	    </span>
	  </div>
	  </div>
	</section>		
          
        <!-- end search-box -->
        {% block content %}
        main content goes here
        {% endblock content %}
        {% block callout %}
        <section id="callout">
                    {% block callout_content %}
                        
                    {% endblock callout_content %}
        </section>
        <!--end callout-->    
        
	{% endblock callout %}
            
        {% block sub_footer %}
        <section> 
          <h2>How you can help</h2> 
	  <div class='row'>
            <div class="span4"> 
              <p class="dropcap">1<span class="mark"><a href="{% url treemap.views.result_map %}">Find a tree</a></span>: Search for the trees near you. Find trees that bear edible fruits and nuts or those with beautiful flowers. Search for the biggest trees in your neighborhood -- then go visit them! <a href="{% url treemap.views.result_map %}#?advanced=open" class="more">Go  &raquo;</a></p> 
            </div> 
            <div class="span4"> 
              <p class="dropcap">2<span class="mark"><a href="{% url treemap.views.tree_add %}/">Add a tree</a></span>: The Urban Forest Map grows as citizen foresters like you add trees. Show a tree's location by putting a dot on the map, then  provide as much information as you can. <a href="{% url treemap.views.tree_add %}/" class="more">Go  &raquo;</a></p> 
            </div> 
            <div class="span4" > 
              <p class="dropcap">3<span class="mark"><a href="{% url treemap.views.result_map %}">Edit a tree</a></span>: Check out the facts about the trees around you and update when you can. Don't forget to add alerts! With your help, we'll  track changes in the urban forest and watch it grow. <a href="{% url treemap.views.result_map %}" class="more">Go  &raquo;</a></p> 
            </div> 
          </div>
        </div> 
        {% endblock %}    
            
        {% block global_footer %}
        <!-- Start Global footer --> 
        <footer>
	  <div class='row'>
            <div class="span6"> 
              <h6>Our Partners</h6> 
	      <a href="http://seattleaudubon.org/sas" target="_blank"><img src="{{ STATIC_URL }}images/sas_logo.jpg" alt="Seattle Audubon" width="144" height="42"/></a>
                       <!-- <ul> 
                            <li><a href="http://www.fuf.net/"><img src="{{ STATIC_URL }}images/es/ad01.gif" alt="image description" width="59" height="61" /></a></li> 
                            <li><a href="http://www.fuf.net/"><img src="{{ STATIC_URL }}images/es/ad02.gif" alt="Friends of the Urban Forest" width="133" height="61" /></a></li> 
                            <li><a href="http://www.fire.ca.gov/"><img src="{{ STATIC_URL }}images/es/ad03.gif" alt="CalFire" width="46" height="61" /></a></li> 
                            <li><a href="http://www.sfgov.org/"><img src="{{ STATIC_URL }}images/es/ad04.gif" alt="City & County of San Francisco" width="56" height="59" /></a></li> 
                        </ul> --> 
            </div> 
            <div class='btn-group pull-right'>
              <a class='btn' href="{% url treemap.views.tree_add %}">Add a tree</a>
              <a class='btn' href="{{ SITE_ROOT }}about/">About</a>
              <a class='btn' href="{{ SITE_ROOT }}resources/">Resources</a>
              <a class='btn' href="{{ SITE_ROOT }}contact/">Contact</a>
              <a class='btn' href="{{ SITE_ROOT }}donate/">Donate</a>
              {% if user.is_authenticated %}
              <span class='btn'>Logged in as <a href="{% url profiles.views.profile_detail user.username %}">{{user.username|escape}}</a>
                <a href="{{ SITE_ROOT }}accounts/logout/?next={{ SITE_ROOT }}" id="logout">(Logout)</a></span>
                {% if user.is_superuser %}
              <a class='btn' href="{{ SITE_ROOT }}_admin_/">Admin</a>
              {% endif %}
              {% if user.reputation.reputation > 1000 %}
              <a class='btn' href="{% url treemap.views.verify_edits %}">Recent Changes</a>
              {% endif %}
              {% else %}
              <span class='btn'><a href="{{ SITE_ROOT }}accounts/login/">Login</a> or <a href="{{ SITE_ROOT }}accounts/register/">Sign up</a></span>
              {% endif %}

              </div> 
           </div>
           <div class='row'>
	     <p class='span12'>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		  <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a> 
		<br/>
		This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.
	     </p>
           </div>
          </footer> 
            <!-- End Global footer --> 
            {% endblock global_footer %}
            
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'  type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
//var pageTracker = _gat._getTracker("UA-13228685-1");
//pageTracker._setDomainName("none");
//pageTracker._setAllowLinker(true);
//pageTracker._trackPageview();
} catch(err) {}
</script>


{% block endpage %}

{% endblock endpage %}

</body>
</html>
